* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}


.main {
  width: 100%;
  height: 100vh;
  background-image: url(./IMG/1.webp);
  /* border: 2px solid rgb(0, 174, 255); */
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 120px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* LOGO */

.logo {
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  display: inline-block;
}

.logo>p {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 10px;

}

.logo>span {
  font-size: 12px;
  letter-spacing: 4px;
}

/* LOGO */


/* NAVBAR LINKS */

.navbar-links {
  /* border: 2px solid rgb(0, 255, 191); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  gap: 40px;
}

.navbar-links>li {
  /* border: 2px solid red; */
  color: white;
  height: 24px;
  display: inline-block;
  font-size: 16px;
}

.navbar-links>li:hover {
  color: red;
  border-bottom: 1px solid red;
}


/* SOCIAL-MEDIA */
.social-media {
  /* border: 2px solid rgb(0, 255, 191); */
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-media>li {
  /* border: 2px solid red; */
  list-style-type: none;
  color: white;

}

.social-media>.a {
  width: 32px;
  height: 16px;
  margin-left: 24px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}



/* HERO */

.hero {
  width: 100%;
  height: 90vh;
  /* border: 2px solid red; */
  text-align: center;
  align-content: center;
}

.hero>p {
  color: white;
  font-size: 64px;
  font-style: italic;
}

.hero>h1 {
  color: white;
  font-size: 80px;
}

.hero>button {
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  border-radius: 8px;
  color: red;
}


/* SECTION_1 */

.section1 {
  width: 100%;
  height: 50vh;
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.left {
  /* border: 1px solid red; */
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.left>h2 {
  color: red;
  font-size: 32px;
  font-style: italic;
}

.left>h1 {
  /* color: red; */
  font-size: 48px;
  font-weight: 900;
}

.left>p {
  text-align: center;
  font-size: 16px;
}

.left>a {
  text-decoration: none;
}

.left>a:hover {
  text-decoration: none;
  color: red;
}


.right {
  width: 25%;
  border-radius: 16px;
  background-image: url(./IMG/3.webp);
}


.section2 {
  width: 100%;
  height: 40vh;
  background-image: url(./IMG/4.webp);
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
}

.section2>h2 {
  color: red;
  font-size: 32px;
  font-style: italic;
}

.section2>h3 {
  color: white;
  font-size: 60px;
}

.section3 {
  /* border: solid; */
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 100px 0px;
}


.card1 {
  /* border: solid; */
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card1>img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card1>h2 {
  text-transform: uppercase;
}

.card1>a {
  text-decoration: none;
}

.card1>a:hover {
  text-decoration: none;
  color: red;
}

.card2 {
  /* border: solid; */
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card2>img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card2>h2 {
  text-transform: uppercase;
}

.card2>a {
  text-decoration: none;
}

.card2>a:hover {
  text-decoration: none;
  color: red;
}

.card3 {
  /* border: solid; */
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card3>img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card3>h2 {
  text-transform: uppercase;
}

.card3>a {
  text-decoration: none;
}

.card3>a:hover {
  text-decoration: none;
  color: red;
}


.section4 {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.bottom {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  gap: 24px;
}

.bottom>.box{
  /* border: solid; */
  border-radius: 16px;
  align-content: center;
  text-align: center;
  
}

.box>button{
  font-size: 20px;
  font-weight: 300;
  padding: 16px 32px;
  border-radius: 8px;
  background-color: rgba(219, 186, 186, 0.8);
  border: none;
}

.box>button:hover{
  color: white;
  background-color: red;
  transition: .5s;
}

.bottom>.box1 {
  background-image: url(./IMG/8.webp);
  background-size: 100% 100%;
  grid-column: 1/2;
  grid-row: 1/3;
}

.bottom>.box2 {
  background-image: url(./IMG/9.webp);
  background-size: 100% 100%;
  grid-column: 2/3;
  grid-row: 1/3;
}

.bottom>.box3 {
  background-image: url(./IMG/10.webp);
  background-size: 100% 100%;
  grid-column: 3/4; 
}

.bottom>.box4 {
  background-image: url(./IMG/11.webp);
  background-size: 100% 100%;
  grid-column: 3/4;
  grid-row: 2/3; 
}

.bottom>.box5 {
  background-image: url(./IMG/12.webp);
  background-size: 100% 100%;
  grid-column: 3/4;
  grid-row: 3/4; 
}

.bottom>.box6 {
  background-image: url(./IMG/13.webp);
  background-size: 100% 100%;
  grid-column: 1/3;
  grid-row: 3/4; 
}

.top{
  text-align: center;
}

.top>h2{
  color: red;
  font-size: 32px;
  font-style: italic;
}

.top>h3{
  font-size: 60px;
  font-weight: 900;
}